.aboutBox {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.carrierBox{
    margin-left: 220px;
}
.topbar {
    
    width: 100%;
    height: 5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.mainDiv{
    padding-top:30px;
    padding-left: 20px;
}   