.aboutBox {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.RportBox{
    margin-left: 220px;
}
.topbar {

    width: 100%;
    height: 5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.mainDiv {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 20px;
}
