.mainDiv {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.stationBox {
    border: 1px solid #ccc;
    text-align: center;
    width: 354px;
    height: 120px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
}