.listMainDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    vertical-align: middle;
    padding-left: 40px;
    padding-top: 30px;
    gap: 30px;
}

.stationBox {
    border: 1px solid #ccc;
    text-align: center;
    width: 354px;
    height: 120px;
    background-color:white;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
    transition: transform 100ms ease-out;
    transform: scale(1);
}

.stationBox:hover {
    transform: scale(1.05);
}

.listCarrierBox {
    margin-left: 220px;

}