* {
  margin: 0;
  padding: 0;
}


.App {
  width: 100vw;
  height: 100vh;
  overflow: auto;

}

.header {
justify-content: space-between;
  position: sticky;
  height: 60px;
  border-bottom: 2px solid black;
  display: flex;
  top: 0%;
  left: 0%;
  background-color: white;
  z-index: 5; 
}
.header2 {
  position: static;
}

.header .row {
  position: fixed;
  background-color: lightblue;
  padding-right: 30px;

}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.Sidebar {
  position: fixed;
  width: 250px;
  min-width: 250px;
  height: 100%;
  background-color: #2f4050;
  top: 60PX;
  left: 0%;
  overflow: auto;
  z-index: 5;
}

.sidebarlist {
  height: auto;
  padding: 0;
  width: 100%;
}

.sidebarlist .row {

  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  padding-left: 10px;
  align-items: center;
  font-family: 'Trebuchet MS', 'Luchida sans unicode', 'Lusida sans', Arial, sans-serif;

}

.Sidebar.row:hover {
  cursor: pointer;
  background-color: #293846;
}

.Sidebar #Active {
  background-color: #293846;
}

.row {

  display: flex;
  justify-content: start;
}

.row .Icon {

  margin-right: 10px;
}

.row #Title {
  flex: 70%;
}

.spot_logo {
  width: 150px;
  padding-top: .5%;
}

.upmrc_logo {
  height:30px;
  width: 50px;
  padding-top: 1%;
}

.main_image {
  margin-left: 220px;
  z-index: 3%;
  width: 100%;
  height: 100%;
}

.dropdown {
  padding: 0%;

}

.dropdown {
  padding-left: 30px;
}

.dropdown-row {
  align-items: center;
  display: flex;
  padding: 10px;
  color: #ddd;
  cursor: pointer;
}

.submenu_title {
  padding-left: 10px;
}

.dropdown-row:hover {
  background-color: #3a4b5c;
}

.arrow {
  margin-left: auto;
  font-size: 12px;
}

.submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
  font-size: 14px;
  background-color: #36475a;


}

.subrow {
  width: 80%;
  font-size: 14px;
  background-color: whitesmoke;

}